---
import { Picture } from '@astrojs/image/components';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Picture src="https://annaaurora.eu/processed_images/open-connected-to-monitor.158e3c081eac269f.jpg" alt="A Lenovo T480 with the lid opened and a blue wallpaper." widths={[500]} aspectRatio="3:4"/>
	</body>
</html>
